<!doctype html>
<html lang="en">
    <head>
        {% load staticfiles %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
        <title>{% block  title %}{% endblock  %}</title>
        <style>
            html ,body{
                height:100%;
                background-color: #f6f6f6;
            }
        </style>
    </head>
    <body>
        <div class="container-fluid" style="min-height:95%">
            <div class="row">
                <div class="col-sm-2">
                    <img src="{% static 'image/image.jpg' %}" class="responsive-img" style="max-height:150px"/>
                </div>
                <div class="col-sm-10">
                    <h1>My blog</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="bs-sliderbar">
                        <div class="nav flex-cloumn">
                            <li><a href="/home">Home</a></li>
                            <li><a href="{% url 'blog' %}">Bài viết</a></li>
                            <li><a href="/contact">Liên hệ</a></li>
                            <li><a href="/register">Đăng ký</a></li>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="container-fluid">
                            {% block content %}
                            
                            {% endblock  %}   
                    </div>
                </div>
                <div class="col-sm-1">
                    {% if user.username %}
                        <p> Xin chào: {{user.username}}</p>
                        <a href="{% url 'logout' %}">Đăng xuất</a>
                    {% else %}
                        <a href="{% url 'register' %}">Đăng ký | </a>
                        <a href="{% url 'login' %}">Đăng nhập</a>
                    {% endif %}
                </div>
            </div>
            
        </div>
        <footer>
                <a>Facebook</a>|<a>Facebook</a>|<a>Facebook</a>|<a>Facebook</a>
        </footer>
     </body>
</html>