<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        {% for key,value in form.errors.items %}
            {{value}}
        {% endfor %}
        <p><label>Tài khoản: </label>{{form.username}}</p>
        <p><label>Tài khoản: </label>{{form.password}}</p>
        <input type="hidden" name="next" value="/home"/>
        <input type="submit" value="Đăng nhập"/>
    </form>
</body>
</html>