<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action='.' method='POST'>
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Đăng ký"/>
    </form>
</body>
</html>