{% extends "pages/base.html" %}

{% block  title %}Bai viet{% endblock  %}

{% block content %}
    {% for post in posts %}
        <h4>{{post.date|date:"d-m-Y"}}<a href="/block/{{post.id}}">{{post.title}}</a></h4>
        <img src="{{post.image.url}}" width="500px" height="300px">
    {% endfor %}
    <br/>
    {% if page_obj.has_next %}
        <a href="{{request.path}}?path={{page_obj.next_page_number}}">Tiếp theo</a>
    {% else %}
    {% endif %}
{% endblock  %}