{% extends "pages/base.html" %}

{% block  title %}{{post.title}}}{% endblock  %}

{% block content %}
   <h3><a href='{% url "post" post.id %}'></a></h3>
   <h6>on {{post.date}}</h6>
   {{postid.body|safe|linebreaks}}
   <img src="{{post.image.url}}" width="500px" height="300px">
{% endblock  %}